# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/.cache/default-development/0.pack
node_modules/.cache/default-development/1.pack
node_modules/.cache/default-development/2.pack
node_modules/.cache/default-development/3.pack
node_modules/.cache/default-development/4.pack
node_modules/.cache/default-development/5.pack
node_modules/.cache/default-development/6.pack
node_modules/.cache/default-development/7.pack
node_modules/.cache/default-development/8.pack
node_modules/.cache/default-development/9.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/11.pack
node_modules/.cache/default-development/12.pack
node_modules/.cache/default-development/13.pack
node_modules/.cache/default-development/14.pack
node_modules/.cache/default-development/18.pack
node_modules/.cache/default-development/index.pack
node_modules/.cache/default-development/index.pack.old
node_modules/.cache/babel-loader/4f373154fb59322915771a21133031dcbf30615dcaee4ecbcc0631da6e282927.json
node_modules/.cache/babel-loader/6e1bea76cbc3be2ffe85acae48b63077ba82361ce0d0dc49bd478ee3b667b806.json
node_modules/.cache/babel-loader/9b9966cf0384ce36fda9c559ea4d0848145de2dd41ce1663d4e40877447550f1.json
node_modules/.cache/babel-loader/30c82221ab825af46f9ace6cd2374e42feb28566e1fda161831479fc4a78aaec.json
node_modules/.cache/babel-loader/0807c86760e06f855fe22d85297ab40535b23989e01d46fc073c1cd31d231698.json
node_modules/.cache/babel-loader/0949a92056feff5e392ff7b08e917744ee48a3c3c321642c2bf06feab6785dce.json
node_modules/.cache/babel-loader/a5d1d25f3a03f020f52e3eeb06dd635eee5720260454ce6b6a6b49781cc152b7.json
node_modules/.cache/babel-loader/ac87bfd3fd5466cc5892a4d3210b576f481e2d75f1663029731e0a5057c6b564.json
node_modules/.cache/babel-loader/aebf328d7b1dc0a6df7a7460ebcd90f43780f56f6f253b6e92f7be22dc159a52.json
node_modules/.cache/babel-loader/b5116d5118bb5679eb3266109b33ad61a8c909592231ee7ba5300eb0481cafb8.json
node_modules/.cache/babel-loader/d4aea72888dcad4c3b30b93a5eba5637793851d82de0336622d6ec91137e2fac.json
node_modules/.cache/babel-loader/dfaf2c41961bb29c1d366086b6a2899682c3ba162dd5c9d07fd74335628a19b7.json
node_modules/.cache/babel-loader/dfb660b286629db91a4599bb8e73bded3a8155689483965e260ad8f5fa3ce99e.json
node_modules/.cache/babel-loader/e2591d3a4d3018c53b35f33ca93653e19282053d3e5c45c20dca9856d799edd6.json
node_modules/.cache/.eslintcache
