.about-container {
    width: 90%;
    padding-left: 70px;
    column-gap: 40px;
    font-family: Helvetica;

}

.head-info {
    display: flex;
}

.about-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 40px;
}

.head-info > p {
    color: rgb(180, 0, 0);
    font-family: "Times New Roman", Times, serif;
    text-align: right;
    font-size: 150px;
    width: 50%;
    position: absolute;
    /* font-family: Verdana, sans-serif; */
    top: 450px;
    right: 110px;
}

.pic-info {
    color: rgb(120, 120, 120);
    margin-left: 190px;
    /* font-family: 'Poppins', sans-serif; */
}

.about-text {
    /* margin-left: 30px;
    margin-top: 30px; */
    margin: auto;
    width: 70%;
    /* background-color: red; */
}

.about-text > h2 {
    text-align: center;
}

.about-text > p {
    font-style: normal;
}

.about-floating1 {
    position: fixed;
    transform: rotate(-90deg);
    text-align: right;
    bottom: 15%; 
    left: -170px;
}

.about-floating2 {
    position: fixed;
    transform: rotate(-90deg);
    text-align: right;
    top: 45%; 
    right: -170px;
}


