@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

* {
    padding: 0;
    margin: 0;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #8B0000;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    font-family: "Helvetica Neue", san-serif;
}

.footer-contents {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons a {
    color: white;
}

#letters {
    height: 1.5em;
    padding: 13%;
    border-radius: 0.5em;
    margin-top: 3%;
}

#insta {
    font-size: 1.5em;
    padding: 5% 6%;
    border-radius: 0.25em;
}

#mail {
    font-size: 1.75em;
    padding: 9% 20% 12% 20%;
    border-radius: 0.25em;
}

#letters:hover, #insta:hover, #mail:hover, .credits:hover{
    background: #a82020;
    transition: all 0.5s ease;
}

.credits {
    color: white;
    font-size: 1em;
    font-weight: 400;
    padding: 4% 5% 5% 5%;
    margin-left: 4%;
    border-radius: 0.5em;
}

.credits:hover {
    transform: scale(1.1);
    transition: all 0.25s ease;
}