@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

* {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
}

.banner {
    height: 5em;
    background: #880000;
    color: white;
    width: 100%;
    display: flex;
}

.banner .title {
    font-family: 'Farro';
    font-size: 48px;
    margin: auto auto auto 50px;
    /* font-family: 'Farro';
    font-weight: 400;
    font-style: normal; */
}

.banner .subtitle {
    height: 5em;
    font-family: 'Farro';
    font-size: 16px;
    text-align: right;
    margin-left: auto;
    margin: auto 50px auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    /* font-style: normal; */
}

.crest {
    border: 1px solid blue;

    display: inline-flex;
    justify-content: center;
    object-fit: contain;
    width: 10%;
    height: auto;
}

/* .crestImage {

    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: contain;
} */
/* .bar {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    height: 7em;
    padding-bottom: 2em;
} */


/* .half {
    width: 47.5%;
    text-align: center;

    display: flex;
    overflow: hidden;
    justify-content: center;
    vertical-align: bottom;
    align-items: center;
    padding-top: 5em;
} */

/* .half a {
    padding-left: 10%;
    padding-right: 10%;
    color: black;

    font-size: 17px;
    font-family: 'Farro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
} */



/* .half a.active{
    color: #880000;
}

#navbar a.active {
    color: #880000;
} */

/* #navbar a {
    padding-left: 10%;
    padding-right: 10%;
    color: black;

    font-size: 17px;
    font-family: 'Farro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
} */