.rush {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 0;
}

.section {
	padding-bottom: 2em;
	color: #B9996C;
	text-align: left;
	font-size: 30px;
	font-weight: 400;
	margin: 0 auto;
	width: 85%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.section::after {
	content: '';
	height: 2px;
	background-color: #B9996C;
	flex-grow: 1;
}

.fullTitle {
	display: inline;
}

.shortTitle {
	display: none;
}

.timelineContainer {
	width: 80%;
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

.timeline {
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.event {
	display: flex;
}

.left {
	width: 200px;
	padding-right: 15px;
	text-align: right;
	position: relative;
	color: #B9996C;
	flex-shrink: 0;
}

.right {
	margin-left: 15px;
	position: relative;
	flex: 1;
	min-width: 0;
	word-wrap: break-word;
}

.date {
	padding-bottom: 5px;
	font-size: 18px;
}

.time, .seperator, .location {
	display: inline;
	font-size: 16px;
}

.name {
	color: #7E2524;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.description {
	color: #555;
	font-size: 18px;
	margin-bottom: 5px;
}

.attire {
	color: #555;
	margin-bottom: 3em;
	font-size: 16px;
	font-style: italic;
}

.left::after {
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #B9996C;
	content: "";
	box-sizing: content-box;
	right: 0;
	top: 10px;
}

.right::before {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #7E2524;
	content: '';
	border-radius: 50%;
	left: -21px;
	top: 5px;
	border: 2px solid #B9996C;
}

.event:last-child .left::after {
	display: none;
}

.event:last-child .right .attire {
	margin-bottom: 0;
}

.buttonContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 4em;
}

.button {
	font-size: 18px;
	font-weight: 400;
	color: white;
	background-color: #7E2524;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 50px;
	transition: all 0.3s ease;
	border: 2px solid #7E2524;
	user-select: none;
}

.button:hover {
	background-color: white;
	color: #7E2524;
}

.faqsContainer {
	width: 75%;
	margin: 0 auto;
}

.faq {
	overflow: hidden;
}

.faqToggle {
	display: none;
}

.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 2em;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s ease;
	background-color: white;
}

.questionText {
	flex: 1;
	padding-right: 1.5em;
}

.question h3 {
	color: #7E2524;
	font-size: 20px;
	margin: 0;
}

.question:hover {
	background-color: #f0f0f0;
}

.faqToggle:checked ~ .question {
	background-color: #f0f0f0;
}

.icons {
	display: flex;
	font-size: 18px;
	color: #7E2524;
}

.icons .close {
	display: none;
}

.faqToggle:checked ~ .question .icons .open {
	display: none;
}

.faqToggle:checked ~ .question .icons .close {
	display: flex;
}

.answer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 0;
	overflow: hidden;
	font-size: 18px;
	transition: max-height 0.3s ease, padding 0.3s ease;
}

.faqToggle:checked ~ .answer {
	max-height: 500px;
	padding: 1.5em 0;
}

.answer p {
	margin: 0;
	color: #555;
	line-height: 1.6;
	width: 85%;
	text-align: left;

}

@media screen and (max-width: 700px) {
    .section {
		padding-bottom: 1em;
		font-size: 28px;
	}

	.timelineContainer {
		width: 80%;
		display: flex;
		justify-content: center;
		margin: 1em 0 3em 0;
	}
	
	.left {
		width: 160px;
	}

	.time, .location {
		display: block;
		font-size: 14px;
		padding-top: 5px;
	}

	.seperator {
		display: none;
	}

	.date {
		padding-top: 2px;
		padding-bottom: 0px;
		font-size: 16px;
	}

	.name {
		font-size: 18px;
	}
	
	.description {
		font-size: 16px;
	}
	
	.attire {
		font-size: 14px;
	}

	.fullTitle {
		display: none;
	}

	.shortTitle {
		display: inline;
	}

	.buttonContainer {
		margin-bottom: 2em;
	}

	.button {
		font-size: 16px;
		transition: none;
	}
	
	.button:hover {
		background-color: #7E2524;
		color: white;
	}

	.question h3 {
		font-size: 16px;
	}

	.question {
		padding: 1em;
		transition: none;
	}
	
	.questionText {
		padding-right: 1em;
	}
	
	.question:hover {
		background-color: white;
	}

	.faqToggle:checked ~ .answer {
		padding: 1em 0;
	}
}