.rush {
	width: 100%;
}

.graphicContainer {
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.instagramContainer {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.buttonContainer {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.button {
	font-size: 18px;
	font-weight: 400;
	color: white;
	background-color: #7E2524;
	cursor: pointer;
	padding: 15px 20px;
	border-radius: 50px;
	transition: all 0.3s ease;
	border: 2px solid #7E2524;
	user-select: none;
}

.button:hover {
	background-color: white;
	color: #7E2524;
}
