.rush {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 0;
}

.section {
	padding-bottom: 2em;
	color: #B9996C;
	text-align: left;
	font-size: 30px;
	font-weight: 400;
	margin: 0 auto;
	width: 85%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.section::after {
	content: '';
	height: 2px;
	background-color: #B9996C;
	flex-grow: 1;
}

.timelineContainer {
	width: 80%;
	display: flex;
	justify-content: center;
	margin-bottom: 3em;
}

.timeline {
	display: flex;
	flex-direction: column;
	height: fit-content;
}

.event {
	display: flex;
}

.left {
	width: 180px;
	padding-right: 15px;
	text-align: right;
	position: relative;
	color: #B9996C;
	flex-shrink: 0;
}

.right {
	margin-left: 15px;
	position: relative;
	flex: 1;
	min-width: 0;
	word-wrap: break-word;
}

.date {
	padding-top: 2px;
	padding-bottom: 5px;
}

.time, .seperator, .location {
	display: inline;
	font-size: 14px;
	padding-top: 5px;
}

.name {
	color: #7E2524;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}

.description {
	color: gray;
	margin-bottom: 5px;
}

.attire {
	color: gray;
	margin-bottom: 3em;
	font-size: 14px;
	font-style: italic;
}

.left::after {
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #B9996C;
	content: "";
	box-sizing: content-box;
	right: 0;
	top: 10px;
}

.right::before {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #7E2524;
	content: '';
	border-radius: 50%;
	left: -21px;
	top: 5px;
	border: 2px solid #B9996C;
}

.event:last-child .left::after {
	display: none;
}

.event:last-child .right .attire {
	margin-bottom: 0;
}

.buttonContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.button {
	font-size: 18px;
	font-weight: 400;
	color: white;
	background-color: #7E2524;
	cursor: pointer;
	padding: 15px 20px;
	border-radius: 50px;
	transition: all 0.3s ease;
	border: 2px solid #7E2524;
	user-select: none;
}

.button:hover {
	background-color: white;
	color: #7E2524;
}

@media screen and (max-width: 700px) {
    
	.left {
		width: 160px;
	}

	.time, .location {
		display: block;
		font-size: 12px;
	}

	.seperator {
		display: none;
	}

	.date {
		padding-bottom: 0px;
		font-size: 14px;
	}

	.name {
		font-size: 16px;
	}
	
	.description {
		font-size: 14px;
	}
	
	.attire {
		font-size: 12px;
	}

	.section {
		font-size: 28px;
	}
}