.rush-container {
    width: 90%;
    display: flex;
    overflow: hidden;
    padding-left: 70px;
    /* padding-top: -60px; */
    /* padding-right: 5em; */
    justify-content: space-between;
    column-gap: 40px;
    border: 0px solid #F00;
    /* background-color: #F00; */
}

.rush-text {
    text-align: center;
}

.rush-text > p {
    border: 0px solid #F00;
    /* height: fit-content; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center;
    align-content: center; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    text-align: left;
}

.rush-text > h1 {
    margin: auto;
}

.pic {
    /* text-justify: left; */
    width: 700px;
    /* position: fixed; */
    border-radius: 40px;
    /* border: 1px solid #F00; */
}

.half {
    /* border: 1px solid #F00; */
    width: 47.5%;
    text-align: center;

    /* background-color: gray; */
    display: flex;
    overflow: hidden;
    justify-content: center;
    /* position: relative; */
    vertical-align: bottom;
    align-items: center;
    padding-top: 5em;
}

.rush-button {
    text-align: center;
    padding: 20px;
}

.rush-bttn {
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-radius: 20px;
    /* margin: 60px; */
    /* top: 20px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.rush-bttn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    transition: 0.5s;
}

.rush-bttn span:after{
    font-size: 50px;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}

.rush-bttn:hover span{
    padding-right: 30px;
}

.rush-bttn:hover span:after{
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 960px) {
    .pic {
        /* text-justify: left; */
        width: 400px;
        /* position: fixed; */
        border-radius: 40px;
        /* border: 1px solid #F00; */
    }
}
@media screen and (max-width: 768px) {
    .pic {
        /* text-justify: left; */
        width: 400px;
        /* position: fixed; */
        border-radius: 40px;
        /* border: 1px solid #F00; */
    }
}