.rush-container {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  column-gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.rush-text {
  margin: 0px 5%;
  text-align: center;
}

.rush-text > h1 {
  margin: auto;
}

.rush-text > p {
  font-style: normal;
  text-align: left;
}

.rush-pic {
  width: 600px;
  border-radius: 40px;
}

.rush-buttons {
  text-align: center;
  padding: 20px;
}

.rush-bttn {
  /* border: none; */
  font-size: 20px;
  border-color: black;
  /* border: none; */
  padding: 15px;
  width: 200px;
  margin: 10px 10px; /*first value adjusts the margin above and below. Secon value adjusts the margin to the right and left of the buttons.*/
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.5);
}

.rush-bttn span {
  display: inline-block;
  position: relative;
  /* background-color: #ffffff; */
  transition: 0.5s;
}

.rush-bttn span:after {
  font-size: 35px;
  content: "\00bb";
  position: absolute;
  opacity: 0;
  margin-top: -11px;
  right: -25px;
  transition: 0.5s;
}

.rush-bttn:hover span {
  padding-right: 30px;
}

.rush-bttn:hover span:after {
  opacity: 1;
  right: 0;
}

/* .rush-floating1 {
    position: fixed;
    transform: rotate(-90deg);
    text-align: right;
    bottom: 15%; 
    left: -40px;
}

.rush-floating2 {
    position: fixed;
    transform: rotate(-90deg);
    text-align: right;
    top: 45%; 
    right: -40px;
} */

@media screen and (max-width: 960px) {
  .rush-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .rush-pic {
    text-align: center;
    width: 100%;
    border-radius: 40px;
  }

  .rush-text {
    width: 100%;
  }

  .rush-text > p {
    text-align: center;
  }

  /* .rush-floating1 {
        left: -50px;
    }
    .rush-floating2 {
        right: -50px;
    } */
}
/* @media screen and (max-width: 768px) {
    .rush-container {
        display: block;
    }
    .rush-pic {
        width: 100%;
        border-radius: 40px;
    }
} */
