.rush-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    padding: 1em;
    /* padding-right: 5em; */
    justify-content: space-between;
    column-gap: 40px;
    margin: 0 auto;
    border: 0px solid #F00;
}

.rush-container > p {
    border: 0px solid #F00;
    width: 45%;
    /* height: fit-content; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

/* .rush-container > h1 {
    border: 0px solid #F00;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
} */

.pic {
    /* text-justify: right; */
    width: 100%;
    /* position: fixed; */
    border-radius: 40px;
    /* border: 1px solid #F00; */
}

.half {
    /* border: 1px solid #F00; */
    width: 47.5%;
    text-align: center;

    /* background-color: gray; */
    display: flex;
    overflow: hidden;
    justify-content: center;
    /* position: relative; */
    vertical-align: bottom;
    align-items: center;
    padding-top: 5em;
}

/* .rush-bttn > .btn {
    text-align: center;
    padding-top: 10%;
} */

button {
    width: auto;
    align-items: center;
    font-family: matcha;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
}