@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

.memberlist { 
    margin: 4em;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 600px 600px 600px;
    align-content: center; 
    
}

.membercard { 
    
    border-radius: 10px; 
    display: grid; 
    text-align: left;
    font-family: 'Darker Grotesque'; 
    font-size: 30px; 
    justify-content: center;

}

.memberphoto { 
    border: 10px solid #8a2c33; 
    border-radius: 10px;
    height: 400px; 
    width: 400px; 
    object-fit: cover; 
    max-width: 400px;
    display: block;
  

}