@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap');

.memberlist { 
    margin: 7em;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 300px 300px 300px;
    align-content: center; 
    
}

.membercard {
    border-radius: 10px; 
    display: grid; 
    text-align: center;
    font-family: 'Darker Grotesque'; 
    font-size: 30px; 
    justify-content: center;

}

.memberphoto { 
    border: 10px solid #8a2c33; 
    border-radius: 10px;
    height: 250px; 
    width: 250px; 
    object-fit: cover; 
    max-width: 400px;
    display: block;
  

}

.head { 
    text-transform: uppercase; 

}
.dropdown { 
    background-color: red; 
    display: flex; 
    font: 'Darker Grotesque';
    align-content: center; 
    box-shadow: inset 1px 1px #b1bd15, inset -1px 0 #b1bd15, inset 0 -1px #b1bd15

}